@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  --background: #1e1c25;
  --foreground: #ededed;
  --accent: #fff200;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

input, textarea {
  color: #000;
}

select {
  color: #000;
}

/* button {
  color: #000;
} */
