.git
.env
.env.*
.vscode

frontend/node_modules/
frontend/.next/
frontend/out/
frontend/dist/
frontend/.DS_Store
frontend/.env
frontend/.env.local
frontend/.vscode/
frontend/.idea/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/*.log

backend/venv/
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.pyd
backend/.Python
backend/.env
backend/.env.local
backend/.DS_Store
backend/.vscode/
backend/.idea/
backend/*.log
backend/logs/
backend/*.db
backend/*.sqlite3
backend/migrations/
backend/.brackets_output.txt
backend/.data.cbr
backend/tests
