services:
  db:
    image: postgres:15
    container_name: champion-postgres-db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: "${POSTGRES_DB:-champ}"
    ports:
      - "127.0.0.1:${DB_PORT:-5432}:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  backend:
    image: ghcr.io/lyp1noff/champion-backend:dev
    container_name: champion-backend
    restart: always
    ports:
      - "127.0.0.1:${BACKEND_PORT:-8000}:8000"
    environment:
      - FRONTEND_URL=${FRONTEND_URL}
      - DATABASE_URL=${DATABASE_URL}
      - R2_ACCESS_KEY_ID=${R2_ACCESS_KEY_ID}
      - R2_SECRET_ACCESS_KEY=${R2_SECRET_ACCESS_KEY}
      - R2_BUCKET_NAME=${R2_BUCKET_NAME}
      - R2_ENDPOINT=${R2_ENDPOINT}
      - JWT_SECRET=${JWT_SECRET}
      - DEV_MODE=${DEV_MODE}
    depends_on:
      - db

  frontend:
    image: ghcr.io/lyp1noff/champion-frontend:dev
    container_name: champion-frontend
    restart: always
    ports:
      - "127.0.0.1:${FRONTEND_PORT:-3000}:3000"
    environment:
      - JWT_SECRET=${JWT_SECRET}
    depends_on:
      - backend

volumes:
  pg_data:
